$theme-colors: (
  "primary": #9d1006,
  "danger": #f41a2f
);

@import "bootstrap-4.1.3/scss/bootstrap.scss";

.navbar {
	margin-bottom: $jumbotron-padding;
}

.jumbotron {
  //padding: $jumbotron-padding ($jumbotron-padding / 2);
  //margin-bottom: $jumbotron-padding;
  margin-bottom: 0px;
  background-color: #9d1006;
  text-color: #fff;
  @include border-radius(0px);

  @include media-breakpoint-up(sm) {
    //padding: ($jumbotron-padding * 2) $jumbotron-padding;
  }
}
.jumbotron h1{
    color: #fff;
}
.jumbotron h5{
    color: #fff;
}

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 90px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px; /* Set the fixed height of the footer here */
  line-height: 70px; /* Vertically center the text there */
  text-align: center;
}

