RewriteEngine on

RewriteRule ^html/guardian/events/new/?$		/guardian/html/guardianapp/event_edit.php
RewriteRule ^html/guardian/events/public/?$ 	/guardian/html/guardianapp/event_public.php
RewriteRule ^html/guardian/events/admin/?$ 		/guardian/html/guardianapp/event_admin.php
RewriteRule ^html/guardian/events/([^/]*)/edit?$ 	/guardian/html/guardianapp/event_edit.php?id=$1
RewriteRule ^html/guardian/events/([^/]*)/assign/?([^/]*)/?$		/guardian/html/guardianapp/event_assign.php?id=$1&staffid=$2
RewriteRule ^html/guardian/events/([^/]*)/subscribe/?([^/]*)/?$ 	/guardian/html/guardianapp/event_subscribe.php?id=$1&staffid=$2
RewriteRule ^html/guardian/events/([^/]*)/?$ 	/guardian/html/guardianapp/event_details.php?id=$1
RewriteRule ^html/guardian/events/?$ 			/guardian/html/guardianapp/event_overview.php


RewriteRule ^html/guardian/reports/admin/?$ 	/guardian/html/guardianapp/report_admin.php
RewriteRule ^html/guardian/reports/new/?$ 		/guardian/html/guardianapp/event_report.php
RewriteRule ^html/guardian/reports/new/([^/]*)?$ /guardian/html/guardianapp/event_report.php?event=$1
RewriteRule ^html/guardian/reports/([^/]*)/?$ 	/guardian/html/guardianapp/report_details.php?id=$1
RewriteRule ^html/guardian/reports/?$ 			/guardian/html/guardianapp/report_overview.php

RewriteRule ^html/guardian/manager/new/?$ 		/guardian/html/guardianapp/manager_create.php
RewriteRule ^html/guardian/manager/?$ 			/guardian/html/guardianapp/manager_overview.php

RewriteRule ^html/guardian/user/?$ 				/guardian/html/guardianapp/user_overview.php

RewriteRule ^html/guardian/templates/?$ 		/guardian/html/guardianapp/stafftemplate_edit.php
RewriteRule ^html/guardian/templates/([^/]*)/?$ /guardian/html/guardianapp/stafftemplate_edit.php?eventtype=$1

RewriteRule ^html/ajax/templates/([^/]*)/?$ 	/guardian/html/ajax/staff_template.php?uuid=$1
RewriteRule ^html/ajax/user/([^/]*)/?$			/guardian/html/ajax/user.php?uuid=$1


RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php